$bg-gradiant: linear-gradient(63.74deg, #f4f7ff 7.61%, #ffeded 90.65%);
$bg-purple-100: rgba(152, 44, 50, 0.03);
$bg-purple-200: #f8f4fa;
$white: #fff;
$text-color: #1c2852;
$text-red: #a30062;
$border-color: #c2adc2;
$gray: #eeeeee;
