@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap");

$fw-medium: 400;
$fw-semibold: 600;
$fw-bold: 800;

$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;

$font-mulish: "Mulish", sans-serif;
