:root {
  --font-poppins: "Poppins", sans-serif;
  --white-100: #fefaf3;
  --white-200: #f8f4e7;
  --white-300: #f2e7da;
  --white-500: #fff;
  --blue-600: #3f3e68;
  --gray-100: #a7a6c3;
  --gray-200: rgba(63, 62, 104, 0.8);
  --linear-100: linear-gradient(124.22deg, #e3e4da 10.29%, #e4deda 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: var(--linear-100);
  color: var(--blue-600);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins);
  overflow: hidden;
}

.popup {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
  padding: 80px 60px;
  background: var(--white-500);
  border: 38px solid var(--white-100);
  border-radius: 25px;
  gap: 60px;
}

.popup::before {
  content: "";
  position: absolute;
  background-color: var(--white-200);
  z-index: -1;
  width: 202px;
  height: 281px;
  left: -160px;
  top: -160px;
}

.popup::after {
  content: "";
  position: absolute;
  background-color: var(--white-300);
  z-index: -1;
  width: 336px;
  height: 469px;
  left: 300px;
  top: 400px;
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--blue-600);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-label {
  font-size: 16px;
  font-weight: 500;
}

.input-text {
  border-radius: 5px;
  border: solid 2px var(--gray-100);
  padding: 16px 24px;
}

.input-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid var(--gray-100);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.input-checkbox:checked {
  background-color: var(--blue-600);
  border-color: var(--blue-600);
}

.btn {
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 24px;
  background-color: var(--blue-600);
  color: var(--white-500);
  font-size: 16px;
}

.popup-footer {
  display: flex;
  justify-content: center;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.link {
  color: var(--blue-600);
  font-size: 16px;
}
