$purple-100: #f7f4ff;
$purple-200: #efebfd;
$purple-400: rgba(40, 26, 81, 0.54);
$purple-500: #281a51;
$white: #fff;
$white-100: #dbd5ec;
$red-100: #ffecec; //furni
$red-200: #ffd9c9;
$pink-100: #f7ecff; // prop
$blue-100: #ecf0ff; // job
$green-100: #d7f9f3; //travel
$green-200: #e2ffd4; // boat
$yellow-100: #fff3c9; //econmy
