.popup {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
  padding: 80px 60px;
  background: var(--white-500);
  border: 38px solid var(--white-100);
  border-radius: 25px;
  gap: 60px;
}

.popup::before {
  content: "";
  position: absolute;
  background-color: var(--white-200);
  z-index: -1;
  width: 202px;
  height: 281px;
  left: -160px;
  top: -120px;
}

.popup::after {
  content: "";
  position: absolute;
  background-color: var(--white-300);
  z-index: -1;
  width: 336px;
  height: 469px;
  left: 300px;
  bottom: -100px;
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-body__title {
  font-size: 32px;
  font-weight: 700;
  color: var(--blue-600);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-label {
  font-size: 16px;
  font-weight: 500;
}

.input-text {
  border-radius: 5px;
  border: solid 2px var(--gray-100);
  padding: 16px 24px;
}

.input-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid var(--gray-100);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.input-checkbox:checked {
  background-color: var(--blue-600);
  border-color: var(--blue-600);
}

.btn {
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 24px;
  background-color: var(--blue-600);
  color: var(--white-500);
  font-size: 16px;
}

.popup-footer {
  display: flex;
  justify-content: center;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.link {
  color: var(--blue-600);
  font-size: 16px;
}
